In [ ]:
# will create Dummy Data and will apply functionality specifically with column, column value updation, applying 
# functionality on multiple columns, plying with axis , column manipulation , column type changing applying mapping
# column manipulation,transformation all functionality applied we will cover and how function applies on 3-4 columns by this
# functionality excel and oracle we can achieve

In [2]:
import pandas as pd
import pandera as pa
import numpy as np
from nptyping import NDArray, Shape, Int64

In [ ]:
# we will generate dummy data and apply grading functionality

# DataFrame 
* add new column
    * one Column
    * two or more columns
* delete Column
* change data type of column
* map function
* apply function
    * apply on one column
    * more than one column

* concat - to join 
    * axis
        * axis = 0 (top to bottom)
        * axis = 1 (left to right)

* Describe DataFrame
 * df. info() # total index, column names and data types, ttal filled cells
 * df.describe() # mean, std, min # statistical properties | apply only numeric columns
 * df.head ( ) # First five rows
 * df.tail() # last five rows

* dataFrame.sample() # select samples
* Difference in samples and population

First of all we will generate five subject data , in which we can maintain grading and valiated , we want to join all seven data frames top to bottom

In [9]:
total : int = 10000
s1 : NDArray [Shape[str(total)], np.int64] = np.random.randint(80, 100, total)
print (len(s1))
s1

10000

array([99, 99, 81, ..., 88, 96, 97])

In [26]:
# converting above data it to Panda series, of different subjects
# when we dont have real world data, for writing a pipeline we can generate any scientific data, 
# we have generated near to real scinetific data / data sets

total : int = 10000
s1 : NDArray [Shape[str(total)], np.int64] = np.random.randint(80, 100, (total)) 
ss1 : pd.Series = pd.Series(s1)

s2 : NDArray [Shape[str(total)], np.int64] = np.random.randint(70, 79, (total))
ss2 : pd.Series = pd.Series(s2)

s3 : NDArray [Shape[str(total)], np.int64] = np.random.randint(60, 69, (total))
ss3 : pd.Series = pd.Series(s3)

s4 : NDArray [Shape[str(total)], np.int64] = np.random.randint(50, 59, (total))
ss4 : pd.Series = pd.Series(s4)

s5 : NDArray [Shape[str(total)], np.int64] = np.random.randint(40, 49, (total))
ss5 : pd.Series = pd.Series(s5) 

s6 : NDArray [Shape[str(total)], np.int64] = np.random.randint(33, 39, (total))
ss6 : pd.Series = pd.Series(s6) 

s7 : NDArray [Shape[str(total)], np.int64] = np.random.randint(0, 32, total)
ss7 : pd.Series = pd.Series(s7) 

print (len(ss1)) # 10000 values generated 
print (len(ss2))
print (len(ss3))
print (len(ss4))
print (len(ss5))
print (len(ss6))
print (len(ss7))

10000
10000
10000
10000
10000
10000
10000

In [41]:
# now we want to connect them , we want 5 subjects at this time all these series are vector 


total : int = 10000
s1 : NDArray [Shape[str(total) + "5"], np.int64] = np.random.randint(80, 100, (total, 5)) # 5 is no of columns here, in str 5 in no of rowa
ss1 : pd.DataFrame = pd.DataFrame(s1, columns =[ "physics", "Maths", "Chemistry", "Biology" , "Science"])

s2 : NDArray [Shape[str(total) + "5"], np.int64] = np.random.randint(70, 79, (total, 5))
ss2 : pd.DataFrame = pd.DataFrame(s2, columns =[ "physics", "Maths", "Chemistry", "Biology" , "Science"])

s3 : NDArray [Shape[str(total) + "5"], np.int64]  = np.random.randint(60, 69, (total, 5))
ss3 : pd.DataFrame = pd.DataFrame(s3, columns =[ "physics", "Maths", "Chemistry", "Biology" , "Science"])

s4 : NDArray [Shape[str(total) + "5"], np.int64] = np.random.randint(50, 59, (total, 5))
ss4 : pd.DataFrame = pd.DataFrame(s4, columns =[ "physics", "Maths", "Chemistry", "Biology" , "Science"])

s5 : NDArray [Shape[str(total) + "5"], np.int64] = np.random.randint(40, 49, (total, 5))
ss5 : pd.DataFrame = pd.DataFrame(s5, columns =[ "physics", "Maths", "Chemistry", "Biology" , "Science"])

s6 : NDArray [Shape[str(total) + "5"], np.int64] = np.random.randint(30, 39, (total, 5))
ss6 : pd.DataFrame = pd.DataFrame(s6, columns =[ "physics", "Maths", "Chemistry", "Biology" , "Science"])

s7 : NDArray [Shape[str(total) + "5"], np.int64] = np.random.randint(20, 29, (total, 5))
ss7 : pd.DataFrame = pd.DataFrame(s7, columns =[ "physics", "Maths", "Chemistry", "Biology" , "Science"])

In [66]:
ss1

      physics  Maths  Chemistry  Biology  Science
0          92     84         85       94       90
1          97     87         81       86       92
2          88     97         93       85       99
3          95     96         88       86       90
4          84     82         94       99       96
...       ...    ...        ...      ...      ...
9995       80     86         95       87       81
9996       85     89         94       81       93
9997       87     95         80       81       82
9998       91     86         81       88       87
9999       82     99         96       80       84

[10000 rows x 5 columns]

In [32]:
ss7

      physics  Maths  Chemistry  Biology  Science
0          22     24         26       20       24
1          23     27         25       22       20
2          28     22         25       20       27
3          24     23         20       22       25
4          28     20         27       22       20
...       ...    ...        ...      ...      ...
9995       22     21         20       20       28
9996       28     28         27       22       27
9997       26     27         20       25       26
9998       25     28         26       23       26
9999       23     20         23       28       22

[10000 rows x 5 columns]

In [45]:
df : pd.DataFrame = pd.concat([ss1, ss2, ss3, ss4, ss5, ss6, ss7]).reset_index(drop = True)
display(df.info())
print("==============================================================")
display(df.describe())
print("==============================================================")
display(df.head()) # head (n=60)
print("==============================================================")
display(df.tail())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   physics    70000 non-null  int32
 1   Maths      70000 non-null  int32
 2   Chemistry  70000 non-null  int32
 3   Biology    70000 non-null  int32
 4   Science    70000 non-null  int32
dtypes: int32(5)
memory usage: 1.3 MB

None

==============================================================

            physics         Maths     Chemistry       Biology       Science
count  70000.000000  70000.000000  70000.000000  70000.000000  70000.000000
mean      54.813429     54.804571     54.781157     54.796129     54.801443
std       21.480098     21.473279     21.483199     21.464532     21.511633
min       20.000000     20.000000     20.000000     20.000000     20.000000
25%       36.000000     36.000000     36.000000     36.000000     36.000000
50%       54.000000     54.000000     54.000000     54.000000     54.000000
75%       72.000000     72.000000     72.000000     72.000000     72.000000
max       99.000000     99.000000     99.000000     99.000000     99.000000

==============================================================

   physics  Maths  Chemistry  Biology  Science
0       92     84         85       94       90
1       97     87         81       86       92
2       88     97         93       85       99
3       95     96         88       86       90
4       84     82         94       99       96

==============================================================

       physics  Maths  Chemistry  Biology  Science
69995       25     27         27       22       23
69996       23     21         27       27       21
69997       20     22         22       28       23
69998       23     24         21       23       28
69999       27     27         21       27       25

In [ ]:
# these are all the functions (standard methods by pandas) we apply, when we load any type of data set from db or any excel file

In [42]:
df.to_csv("Student.csv", index=False) # considering this file we get as csv and want to convert to Data frame

In [43]:
df1 : pd.DataFrame = pd.read_csv("./Student.csv")
df1.head()

   physics  Maths  Chemistry  Biology  Science
0       96     91         89       80       85
1       99     91         99       81       81
2       80     84         96       94       82
3       91     82         95       83       88
4       88     85         80       88       82

## Apply Operations on Columns
* Extract one Column from DataFrame
    * dataFrame['column']
        * add new column
        * get column with space between columns
    * dataFrame.column
        * Cant add new column
        * Cant get column with space between columns
    * Extract two or more columns from datarame
        * dataFrame[['column1', 'column2' ]]
            * pass list into DataFrame # column name sequence can be changed

In [46]:
df['Science'] # Extracting single column

0        90
1        92
2        99
3        90
4        96
         ..
69995    23
69996    21
69997    23
69998    28
69999    25
Name: Science, Length: 70000, dtype: int32

In [47]:
df.Biology

0        94
1        86
2        85
3        86
4        99
         ..
69995    22
69996    27
69997    28
69998    23
69999    27
Name: Biology, Length: 70000, dtype: int32

In [49]:
df[["physics", "Science" ,"Chemistry"]] # self wanted column collection, can even add duplicated columns names

       physics  Science  Chemistry
0           92       90         85
1           97       92         81
2           88       99         93
3           95       90         88
4           84       96         94
...        ...      ...        ...
69995       25       23         27
69996       23       21         27
69997       20       23         22
69998       23       28         21
69999       27       25         21

[70000 rows x 3 columns]

## Add New Column

* Addition operation on column (one or more)

In [50]:
df.head()

   physics  Maths  Chemistry  Biology  Science
0       92     84         85       94       90
1       97     87         81       86       92
2       88     97         93       85       99
3       95     96         88       86       90
4       84     82         94       99       96

In [53]:
# adding and deleting Colums

df['Total'] = 500 # add new column
df['Total'] = 300 # update column value

del df['Total']
df

       physics  Maths  Chemistry  Biology  Science
0           92     84         85       94       90
1           97     87         81       86       92
2           88     97         93       85       99
3           95     96         88       86       90
4           84     82         94       99       96
...        ...    ...        ...      ...      ...
69995       25     27         27       22       23
69996       23     21         27       27       21
69997       20     22         22       28       23
69998       23     24         21       23       28
69999       27     27         21       27       25

[70000 rows x 5 columns]

In [59]:
# adding and deleting Columns with dot methods

df.Total = 500 # not add new column
df.Total = 300 # it updates column value
del df.Total # not deleting

df

       physics  Maths  Chemistry  Biology  Science
0           92     84         85       94       90
1           97     87         81       86       92
2           88     97         93       85       99
3           95     96         88       86       90
4           84     82         94       99       96
...        ...    ...        ...      ...      ...
69995       25     27         27       22       23
69996       23     21         27       27       21
69997       20     22         22       28       23
69998       23     24         21       23       28
69999       27     27         21       27       25

[70000 rows x 5 columns]

In [68]:
df['physics'] + 1

0        93
1        98
2        89
3        96
4        85
         ..
69995    26
69996    24
69997    21
69998    24
69999    28
Name: physics, Length: 70000, dtype: int32

In [71]:
df['physics'] + df['Maths'] + df['Chemistry'] + df['Biology'] + df['Science']

0        445
1        443
2        462
3        455
4        455
        ...
69995    124
69996    119
69997    115
69998    119
69999    127
Length: 70000, dtype: int32

In [76]:
display(df.head())

   physics  Maths  Chemistry  Biology  Science
0       92     84         85       94       90
1       97     87         81       86       92
2       88     97         93       85       99
3       95     96         88       86       90
4       84     82         94       99       96

In [80]:
print(92 + 84 + 85 + 94 + 90) # validating
df['physics'] + df['Maths'] + df['Chemistry'] + df['Biology'] + df['Science']

445

0        445
1        443
2        462
3        455
4        455
        ...
69995    124
69996    119
69997    115
69998    119
69999    127
Length: 70000, dtype: int32

In [81]:
df['obtained'] = df['physics'] + df['Maths'] + df['Chemistry'] + df['Biology'] + df['Science']
df

       physics  Maths  Chemistry  Biology  Science  obtained
0           92     84         85       94       90       445
1           97     87         81       86       92       443
2           88     97         93       85       99       462
3           95     96         88       86       90       455
4           84     82         94       99       96       455
...        ...    ...        ...      ...      ...       ...
69995       25     27         27       22       23       124
69996       23     21         27       27       21       119
69997       20     22         22       28       23       115
69998       23     24         21       23       28       119
69999       27     27         21       27       25       127

[70000 rows x 6 columns]

In [82]:
# Percentage

df['obtained'] = df['physics'] + df['Maths'] + df['Chemistry'] + df['Biology'] + df['Science']
df['percentage'] = df['obtained'] /df ['Total'] * 100

KeyError: 'Total'

# Making a function for Calculating Grade and applying it on particular series data(columns)

In [87]:
def grade (per : int)-> str:
    if per >= 80:
        return "A+"
    elif per >= 70:
        return "A"
    elif per >= 60:
        return "B"
    elif per >= 50:
        return "C"
    elif per >= 40:
        return "D"
    elif per >= 33:
        return "E"
    else:
        return "F"
    grade (82) # we wan to apply this function on each grade

In [88]:
df['percentage'].apply(grade)

KeyError: 'percentage'

# Apply Sustom Function on multiple columns and return one column or More than one

For making Advance Functions

* loc
    * dataframe[row, column]
        *   exact labels value
* iloc 
    * dataframe[row, column]
    *  numerical indexing value  
* at  
    * single cell value with exact label
* iat
    * cell value with numerical index

In [92]:
df1.head()

   physics  Maths  Chemistry  Biology  Science
0       96     91         89       80       85
1       99     91         99       81       81
2       80     84         96       94       82
3       91     82         95       83       88
4       88     85         80       88       82

In [98]:
df1[0:10] # got 0 to 9 Index, direct slicing applied on rows index
#df1.iloc[:,] # means all rows 
df1.iloc[1:11, 1:3 ] # means 1 to 10 , after coma are columns,  this is like a numpy silicing, numpy slicing apply on columns and rows Index
df1.loc[1:11, "physics":"Maths":"Chemistry"] # in this end also included , direct slicing apply on columns and rows label
# df1.at[0,"physics"]

# correct this cell

TypeError: '>=' not supported between instances of 'str' and 'int'

### Apply custom function on multiple columns and return one column

In [99]:
df1.head()

   physics  Maths  Chemistry  Biology  Science
0       96     91         89       80       85
1       99     91         99       81       81
2       80     84         96       94       82
3       91     82         95       83       88
4       88     85         80       88       82

In [103]:
def fn_obtained(physics : int, Maths: int, Chemistry : int, Biology: int,Science : int)->int:
    return s1 + s2 + s3 + s4 + s5

df1[["physics", "Maths", "Chemistry", "Biology", "Science"]].apply(fn_obtained) # true error function cant apply directly

TypeError: fn_obtained() missing 4 required positional arguments: 'Maths', 'Chemistry', 'Biology', and 'Science'

In [1]:
def fn_obtained(physics : int, Maths: int, Chemistry : int, Biology: int,Science : int)->int:
    return s1 + s2 + s3 + s4 + s5

df1[["physics", "Maths", "Chemistry", "Biology", "Science"]].apply(lambda x: fn_obtained (*x), axis=1) # from Lambda all series will come in form of tuple *X  picks value one by one from tuple of data frame in same line and puts in variable and then we get answer

# till now we got multi input and single output

NameError: name 'df1' is not defined

In [ ]:
# can add column df1 obtained, single output and multiinput
def fn_obtained(physics : int, Maths: int, Chemistry : int, Biology: int,Science : int)->int:
    return s1 + s2 + s3 + s4 + s5

df1['obtained'] = df1[["physics", "Maths", "Chemistry", "Biology", "Science"]].apply(lambda x: fn_obtained (*x), axis=1) # from Lambda all series will come in form of tuple *X  picks value one by one from tuple of data frame in same line and puts in variable and then we get answer
df1

In [ ]:
# Advance: Multiple Input and Multiple Output

# can add column df1 obtained, single output and multiinput
def fn_obtained(physics : int, Maths: int, Chemistry : int, Biology: int,Science : int)->tuple[int, int, float, str]:
    Total : int = 500
    obtained : int = s1 + s2 + s3 + s4 + s5
    per : float =  obtained / Total * 100
    grade : str = " "

     if per >= 80:
       grade = "A+"
    elif per >= 70:
        grade ="A"
    elif per >= 60:
        grade = "B"
    elif per >= 50:
        grade ="C"
    elif per >= 40:
        grade= "D"
    elif per >= 33:
        grade ="E"
    else:
       grade = "F"
    
    
  
df1["Total", "obtained", "percentage", "Grade"] = df1[["physics", "Maths", "Chemistry", "Biology", "Science"]].apply(lambda x: fn_obtained (*x), axis=1) # from Lambda all series will come in form of tuple *X  picks value one by one from tuple of data frame in same line and puts in variable and then we get answer
df1